@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-ThinItalic.eot');
    src: url('../fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-ThinItalic.svg#../fonts/roboto/Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-ThinItalic_1.eot');
    src: url('../fonts/roboto/Roboto-ThinItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-ThinItalic_1.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-ThinItalic_1.woff') format('woff'),
        url('../fonts/roboto/Roboto-ThinItalic_1.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-ThinItalic_1.svg#../fonts/roboto/Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-ThinItalic_2.eot');
    src: url('../fonts/roboto/Roboto-ThinItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-ThinItalic_2.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-ThinItalic_2.woff') format('woff'),
        url('../fonts/roboto/Roboto-ThinItalic_2.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-ThinItalic_2.svg#../fonts/roboto/Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin.eot');
    src: url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
        url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Thin.svg#../fonts/roboto/Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin_1.eot');
    src: url('../fonts/roboto/Roboto-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Thin_1.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin_1.woff') format('woff'),
        url('../fonts/roboto/Roboto-Thin_1.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Thin_1.svg#../fonts/roboto/Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-ThinItalic_3.eot');
    src: url('../fonts/roboto/Roboto-ThinItalic_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-ThinItalic_3.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-ThinItalic_3.woff') format('woff'),
        url('../fonts/roboto/Roboto-ThinItalic_3.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-ThinItalic_3.svg#../fonts/roboto/Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin_2.eot');
    src: url('../fonts/roboto/Roboto-Thin_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Thin_2.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin_2.woff') format('woff'),
        url('../fonts/roboto/Roboto-Thin_2.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Thin_2.svg#../fonts/roboto/Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin_3.eot');
    src: url('../fonts/roboto/Roboto-Thin_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Thin_3.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Thin_3.woff') format('woff'),
        url('../fonts/roboto/Roboto-Thin_3.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Thin_3.svg#../fonts/roboto/Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Regular.svg#../fonts/roboto/Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular_1.eot');
    src: url('../fonts/roboto/Roboto-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Regular_1.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular_1.woff') format('woff'),
        url('../fonts/roboto/Roboto-Regular_1.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Regular_1.svg#../fonts/roboto/Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-MediumItalic.eot');
    src: url('../fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-MediumItalic.svg#../fonts/roboto/Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-MediumItalic_1.eot');
    src: url('../fonts/roboto/Roboto-MediumItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-MediumItalic_1.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-MediumItalic_1.woff') format('woff'),
        url('../fonts/roboto/Roboto-MediumItalic_1.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-MediumItalic_1.svg#../fonts/roboto/Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular_2.eot');
    src: url('../fonts/roboto/Roboto-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Regular_2.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular_2.woff') format('woff'),
        url('../fonts/roboto/Roboto-Regular_2.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Regular_2.svg#../fonts/roboto/Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular_3.eot');
    src: url('../fonts/roboto/Roboto-Regular_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Regular_3.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Regular_3.woff') format('woff'),
        url('../fonts/roboto/Roboto-Regular_3.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Regular_3.svg#../fonts/roboto/Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium.eot');
    src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
        url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Medium.svg#../fonts/roboto/Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-MediumItalic_2.eot');
    src: url('../fonts/roboto/Roboto-MediumItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-MediumItalic_2.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-MediumItalic_2.woff') format('woff'),
        url('../fonts/roboto/Roboto-MediumItalic_2.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-MediumItalic_2.svg#../fonts/roboto/Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-MediumItalic_3.eot');
    src: url('../fonts/roboto/Roboto-MediumItalic_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-MediumItalic_3.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-MediumItalic_3.woff') format('woff'),
        url('../fonts/roboto/Roboto-MediumItalic_3.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-MediumItalic_3.svg#../fonts/roboto/Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium_1.eot');
    src: url('../fonts/roboto/Roboto-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Medium_1.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Medium_1.woff') format('woff'),
        url('../fonts/roboto/Roboto-Medium_1.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Medium_1.svg#../fonts/roboto/Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium_2.eot');
    src: url('../fonts/roboto/Roboto-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Medium_2.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Medium_2.woff') format('woff'),
        url('../fonts/roboto/Roboto-Medium_2.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Medium_2.svg#../fonts/roboto/Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium_3.eot');
    src: url('../fonts/roboto/Roboto-Medium_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Medium_3.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Medium_3.woff') format('woff'),
        url('../fonts/roboto/Roboto-Medium_3.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Medium_3.svg#../fonts/roboto/Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-LightItalic.eot');
    src: url('../fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-LightItalic.svg#../fonts/roboto/Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '../fonts/roboto/Roboto';
    src: url('../fonts/roboto/Roboto-LightItalic_1.eot');
    src: url('../fonts/roboto/Roboto-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-LightItalic_1.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-LightItalic_1.woff') format('woff'),
        url('../fonts/roboto/Roboto-LightItalic_1.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-LightItalic_1.svg#../fonts/roboto/Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-LightItalic_2.eot');
    src: url('../fonts/roboto/Roboto-LightItalic_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-LightItalic_2.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-LightItalic_2.woff') format('woff'),
        url('../fonts/roboto/Roboto-LightItalic_2.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-LightItalic_2.svg#../fonts/roboto/Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-LightItalic_3.eot');
    src: url('../fonts/roboto/Roboto-LightItalic_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-LightItalic_3.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-LightItalic_3.woff') format('woff'),
        url('../fonts/roboto/Roboto-LightItalic_3.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-LightItalic_3.svg#../fonts/roboto/Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light.eot');
    src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light.woff') format('woff'),
        url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Light.svg#../fonts/roboto/Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light_1.eot');
    src: url('../fonts/roboto/Roboto-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Light_1.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light_1.woff') format('woff'),
        url('../fonts/roboto/Roboto-Light_1.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Light_1.svg#../fonts/roboto/Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light_2.eot');
    src: url('../fonts/roboto/Roboto-Light_2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Light_2.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light_2.woff') format('woff'),
        url('../fonts/roboto/Roboto-Light_2.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Light_2.svg#../fonts/roboto/Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light_3.eot');
    src: url('../fonts/roboto/Roboto-Light_3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Light_3.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Light_3.woff') format('woff'),
        url('../fonts/roboto/Roboto-Light_3.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Light_3.svg#../fonts/roboto/Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Italic.eot');
    src: url('../fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Italic.woff') format('woff'),
        url('../fonts/roboto/Roboto-Italic.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Italic.svg#../fonts/roboto/Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Italic_1.eot');
    src: url('../fonts/roboto/Roboto-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto/Roboto-Italic_1.woff2') format('woff2'),
        url('../fonts/roboto/Roboto-Italic_1.woff') format('woff'),
        url('../fonts/roboto/Roboto-Italic_1.ttf') format('truetype'),
        url('../fonts/roboto/Roboto-Italic_1.svg#../fonts/roboto/Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* RESET BROWSER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* TOPBAR*/
.topbar-top{
    height: 40px;
    background-color: #fff;
}
.wrap-topbar{
    display: flex;
}
.topbar-top .container{

    max-width: 95%;
}
.topbar-top-left{
    width: calc(100%/2);
    height: 40px;
    background-color: pink;
    line-height: 40px;
    color: #fff;
}
.topbar-top-right{
    width: calc(100%/2);
    height: 40px;
    background-color: violet;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #fff;
}
.topbar-bottom{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background-color: #AA1020;
}
/* HEADER-MAIN */
.header-main{
    background-color: black;
}
.wrap-header-main{
    display: flex;
}
.logo, .user-search{
    width: 20%;
    height: 100px;
    background-color: green;
}
.menu{
    width: 60%;
    height: 100px;
    background-color: blue;
}